# Sample config file 
# Find paths that connect entries in a source-target pair file,
# requiring that the last interaction is between a candidate regulator
# for that source and a target.

# We're going to apply a default feature value to all edges in a file.
# "CatSet" means that an edge can take multiple labels
# (just in case the TF interacts with both the DNA and protein of a 
# particular gene)
EFEATURE	etype=CatSet(ppi|regulatory)

# You can read in multiple files of edges
# The starting column is the column of the first node, in case we have
# other info preceding it.
#edge_library	filename	default_feature_value	starting_column
EDGE_LIBRARY	./input_data/test_literome.tab	etype=regulatory	1
EDGE_LIBRARY	./input_data/ppi.tab	etype=ppi	1	
EDGE_LIBRARY	./input_data/test_tf2.tab	etype=regulatory	1

# You can read in a node set and apply a label to it
# Nodes are assumed to be the first column in the file
#NFEATURE	feature=type(value1|value2...)	description_for_user	location	delimiter	column_of_value	
NFEATURE	ntype=discrete(tf)	transcription factors or RNA binding proteins	./input_data/ntype.tab	\t	1
NFEATURE	ntype2=discrete(source|target)	source factors or target proteins	./input_data/ntype2.tab	\t	1

# This "edge filter" has a method that returns true for edges 
# that have the "regulatory" value for feature "etype"
#EFILTER	name	filter_subclass	feature	accepted_value
EFILTER	reg_f	EqualsFilter	etype	regulatory

# An EdgeFilterManager is a wrapper around one or more edge filters.
# If we had multiple filters, we could say: "accept this edge if it is accepted 
# by at least one of a set of filters (OR)"
# or, given a set of edges, "accept this set of edges if at least one (ANY) 
# is accepted by at least one of a set of filters (OR)"
# In this case, we just accept any edge that has the label "regulatory".
# (this would also accept a set of edges, say a path, if at least one of them is regulatory)

#EFILTERMANAGER	name	how_to_combine_filter_accepts	how_to_accept_set_of_items	filterA|filterB...
EFILTERMANAGER	reg_m	or	any	reg_f	

# Define pairs in a two-column file
# source-target pairs
#ST_PAIRS	name	location
ST_PAIRS	st_pairs	./input_data/test_stpairs.tab

# source-regulator pairs (TFs or RBPs)
ST_PAIRS	sr_pairs	./input_data/test_cand_reg.tab

# Find paths from sources to targets in which the final interaction 
# is one between a candidate regulator and the target.
# (Any kind of interaction)
#PATHFINDER	name	PathFinder_subclass	source_target_pairs	source_regulator_pairs	depth
PATHFINDER	srt_paths	SourceRegTargetPathFinder	st_pairs	sr_pairs	3

# Another approach to the same problem:
# find paths from sources to targets in which the final interaction
# is labelled "regulatory"
#PATHFINDER	name	PathFinder_subclass	source_target_pairs	filter_manager_for_final_interaction	depth
PATHFINDER	st_paths2	RegPairPathFinder	st_pairs	reg_m	3	

# Cytoscape output filename prefix
OUT_PREFIX	./output_data/search_test

# GAMS output filename 
GAMS_FILE	./output_data/search_test.gms

# Features to print to GAMS output file. 
# GAMS_xFEATS	a[|b|c...]
GAMS_EFEATS	etype
GAMS_NFEATS	ntype|ntype2
